html {
    background-color: #2e559c;
}

#rpg-backpack {
    padding: 40px;
    flex-wrap: wrap;
    align-content: flex-start;
    display: flex;
}

#rpg-backpack > .item {
    padding: 10px;
    width: 15%;
}

#rpg-backpack > .item > p {
    margin: 0;
    text-align: center;
    color: #bbbbbb;
    font-family: Arial, Helvetica, sans-serif;
}

#rpg-backpack > .item > img {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
